@font-face {
    font-family: 'MyFont';
    src: url('assets/fonts/Comic_CAT.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyFont' , sans-serif;
}